<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
    <title>Thesaurdle</title>
  </head>
  <body>
    <h1 class="title-header">Thesaurdle (n)</h1>
    <div class="title-subheader">/ θɪˈsɔːrdᵊl /</div>
    <div class="container">
      <form action="#" method="post">
        <input
          type="text"
          placeholder="What is your guess?"
          class="guess-input"
          name="guess"
        />
      </form>
      <div class="box-container">
        <div class="feedback-box-pos">
          <p class="pos-feedback">{{guess_part_of_speech}}</p>
        </div>
        <div class="feedback-box-neg">
          <p class="len-feedback">{{guess_word_len}}</p>
        </div>
        <div class="feedback-box-med">
          <p class="complex-feedback">{{guess_complexity}}</p>
        </div>
        <div class="feedback-box-neg">
          <p class="sim-feedback">{{guess_sim}}</p>
        </div>
      </div>
      <div class="lives-container">
        {% for i in range(5 - 0) %}
        <div class="lives"></div>
        {% endfor %}
      </div>
    </div>
    <div class="hint">
      {{guess_hint}}
      <!-- Lorem ipsum, dolor sit. Lorem ipsum, dolor sit. Lorem ipsum, dolor sit.
      Lorem ipsum, dolor sit. Lorem ipsum, dolor sit. Lorem ipsum, dolor sit.
      Lorem ipsum, dolor sit. Lorem ipsum, dolor sit. Lorem ipsum, dolor sit.
      Lorem ipsum, dolor sit. Lorem ipsum, dolor sit. Lorem ipsum, dolor sit. -->
    </div>
  </body>
</html>
