<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
    <title>Thesaurdle</title>
  </head>
  <body>
    <h1 class="title-header">Thesaurdle (n)</h1>
    <div class="title-subheader">/ θɪˈsɔːrdᵊl /</div>
    <div class="container">
      <form action="/guess" method="post">
        <input
          type="text"
          placeholder="What is your guess?"
          class="guess-input"
          name="guess"
        />
      </form>
      <div class="box-container">
        <div class="feedback-container">
          <div class="feedback-title">Part of Speech</div>
          <div
            class="{% if answer_part_of_speech in guess_part_of_speech %}feedback-box-pos{% else %}feedback-box-neg{% endif %}"
          >
            <p class="pos-feedback">{{guess_part_of_speech}}</p>
          </div>
        </div>

        <div class="feedback-container">
          <div class="feedback-title">Length</div>
          <div class="feedback-box-neg">
            <p class="len-feedback">{{guess_word_len}}</p>
          </div>
        </div>

        <div class="feedback-container">
          <div class="feedback-title">Complexity</div>
          <div class="feedback-box-neg">
            <p class="complex-feedback">{{guess_complexity}}</p>
          </div>
        </div>

        <div class="feedback-container">
          <div class="feedback-title">Similarity</div>
          <div class="feedback-box-neg">
            <p class="sim-feedback">{{guess_sim}}</p>
          </div>
        </div>
      </div>

      <div class="lives-container">
        {% for _ in range(guess_count) %}
        <div class="good-lives"></div>
        {% endfor %} {% for _ in range(lives) %}
        <div class="lives"></div>
        {% endfor %}
      </div>
    </div>
    <div class="hint">
      {{guess_hint}}
      <!-- Lorem ipsum, dolor sit. Lorem ipsum, dolor sit. Lorem ipsum, dolor sit.
      Lorem ipsum, dolor sit. Lorem ipsum, dolor sit. Lorem ipsum, dolor sit.
      Lorem ipsum, dolor sit. Lorem ipsum, dolor sit. Lorem ipsum, dolor sit.
      Lorem ipsum, dolor sit. Lorem ipsum, dolor sit. Lorem ipsum, dolor sit. -->
    </div>
  </body>
</html>
