<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dysnomio</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/landing.css') }}"
    />
  </head>
  <body>
    <div class="welcome-to">Welcome to...</div>
    <div class="landing-square">
      <div class="title">
        <h1 class="title-header">Dysnomio (n.)</h1>
        <div class="title-subheader">[ dĭs-nō′mē-oh ]</div>
      </div>
      <div class="content-buttons">
        <form method="post" name="difficulty-select">
          <select>
            <option value="option1">Easy</option>
            <option value="option2">Medium</option>
            <option value="option3">Hard</option>
            <option value="option4">1600 Verbal</option>
          </select>
        </form>
        <form action="{{ url_for('home') }}" method="get">
          <button type="submit" class="start-button">Start</button>
        </form>
      </div>
    </div>
    <div class="date">{{ date }}</div>
  </body>
</html>
