<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dysnomio</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/landing.css') }}"
    />
  </head>
  <body>
    <div class="welcome-to" style="color: white">Welcome to...</div>
    <div class="landing-square">
      <div class="title">
        <h1 class="title-header">Congratulations!</h1>
        <div class="title-subheader">You win!</div>
      </div>
      <div class="content-buttons">
        <form action="{{ url_for('restart') }}" method="get">
          <button type="submit" class="start-button">Restart</button>
        </form>
      </div>
    </div>
    <div class="hint">{{ formatted_answer }}</div>
    <div class="hint">Guesses: {{ guess_count }}</div>
    <footer>
      <div class="date-footer">
        <span class="date">{{date}}</span> | {{ difficulty.capitalize() }}
      </div>
    </footer>
  </body>
</html>
