html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}

.landing-page-container {
  /* border: solid 2px red; */
  width: 600px;
  height: 500px;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -300px;
  margin-right: -300px;
  margin-top: 120px;
}

.landing-page-main-title {
  /* border: 1px dashed blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-family: "Rubik";
  font-weight: bolder;
  font-style: italic;
  letter-spacing: 1px;
  padding: 30px;
  color: rgba(0, 0, 0, 0.7);
}

.title-gradient {
  background-image: linear-gradient(
    to right,
    white,
    rgba(216, 213, 123, 0.5),
    rgba(156, 216, 126, 0.5)
  );
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 3px;
}

.landing-page-button-grid {
  width: 600px;
  height: 120px;
  display: grid;
  grid-template-columns: 160px 160px 160px;
  grid-row: auto auto auto;
  grid-column-gap: 46px;
  /* border: 1px solid purple; */
  margin-top: 100px;
  /* place-items: center; */
  align-items: center;
  /* padding: 10px; */
}

.date-footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  font-family: "Josefin Sans";
  font-weight: normal;
  font-size: 19px;
  /* text-decoration: overline; */
  border-top: 2px solid #d9d9d9;
  padding: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.landing-page-button {
  border: 2px solid #d9d9d9;
  border-radius: 20px;
  width: 190px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.landing-page-button-select {
  border: 2px solid #d9d9d9;
  background-color: white;
  border-radius: 20px;
  width: 190px;
  height: 50px;
  text-align: center; /* Centers the text */
  font-size: 20px;
  font-family: "Josefin Sans";
  color: rgba(0, 0, 0, 0.7);
  appearance: none;
}

/* Apply hover effect to change text style to italics */
.landing-page-button-select:hover {
  background-color: #d9d9d971;
  cursor: pointer;
  font-style: italic;
}

.landing-page-button:hover {
  background-color: #d9d9d971;
  cursor: pointer;
  font-style: italic;
}

.landing-page-button:active {
  background-color: darkgray;
}

.button-text {
  font-family: "Josefin Sans";
  color: rgba(0, 0, 0, 0.7);
  /* font-family: "Rubik";
  font-weight: bold;
  font-style: italic; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
  font-size: 20px;
  /* letter-spacing: 1px; */
}
