html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.landing-square {
  width: 450px;
  height: 450px;
  margin: 10px auto; /* Adjust margin to center horizontally */
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid lightgrey 1px;
  margin-top: 0px;
}

.title {
  text-align: center;
  color: rgb(66, 64, 64);
}

.title-header {
  margin-top: 125px; /* Adjust as needed */
  /* font-family: "Times New Roman", Times, serif; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: lighter;
  margin-bottom: 10px;
}
/* 
.title-subheader {
  margin-top: 0px;
} */

.content-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 125px;
}
.content-buttons select {
  margin-right: 50px;
}

/* Additional styling for the select and button */
select {
  padding: 10px;
  margin-right: 100px;
  width: 150px;
}

.start-button {
  padding: 10px 20px;
  background-color: rgba(50, 145, 3, 0.315);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
}
.start-button:hover {
  background-color: rgba(55, 128, 18, 0.596);
}

.start-button:active {
  box-shadow: inset 5px 5px 10px -5px rgba(0, 0, 0, 0.5);
}

.date {
  text-align: center;
  margin-top: 20px;
  font-weight: lighter;
}

.welcome-to {
  text-align: center;
  font-weight: lighter;
  padding-bottom: 0;
  margin-bottom: 20px;
  margin-top: 50px;
}
