html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}

.main-outer-container {
  width: 500px;
  height: 750px;
  border: solid #d9d9d9 2px;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -250px;
  margin-right: -250px;
  margin-top: 20px;
}

.blur {
  /* -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); */
}

.action-button-pill {
  border: 2px solid #d9d9d9;
  /* border: 2px solid rgba(0, 0, 0, 0.7); */
  border-radius: 15px;
  height: 35px;
  width: 65px;
  position: absolute;
  margin: 32px;
}

.action-button-pill-2 {
  border: 2px solid #d9d9d9;
  /* border: 2px solid rgba(0, 0, 0, 0.7); */
  border-radius: 15px;
  height: 35px;
  width: 65px;
  position: absolute;
  right: 0;
  margin: 32px;
}

.action-button-pill:hover {
  background-color: darkgray;
  cursor: pointer;
}
.action-button-pill-2:hover {
  background-color: darkgray;
  cursor: pointer;
}
.action-button-pill-2:active {
  background-color: lightgray;
}
.action-button-pill:active {
  background-color: lightgray;
}

.guess-popout-guess-counter {
  font-family: "Rubik";
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  color: rgba(0, 0, 0, 0.7);
}

.guess-popout-guess-counter:hover {
  font-style: normal;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid red;
  border-bottom: 50px solid transparent;
}

.main-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik";
  color: rgba(0, 0, 0, 0.7);
  font-size: 2.25rem;
  font-weight: bolder;
  font-style: italic;
  padding: 30px;
  letter-spacing: 1px;
}

.title-gradient {
  background-image: linear-gradient(
    to right,
    white,
    rgba(216, 213, 123, 0.5),
    rgba(156, 216, 126, 0.5)
  );
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 3px;
}

.guess-input-form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50% - (90px + 350px) / 2); /* Calculate the position from the top */
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  padding: 15px;
  border-radius: 10px;
  border-style: solid;
  /* border: 2px solid rgba(0, 0, 0, 0.5); */
  border: 2px solid #d9d9d9;
  font-family: "Josefin Sans";
  font-size: 16px;
  /* text-align: center; */
}

::placeholder {
  text-align: center;
}

.feedback-tile-outer-container {
  width: 300px;
  height: 300px;
  /* border: solid red 2px; */
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -150px;
  margin-top: 120px;

  display: grid;
  grid-template-columns: 145px 145px;
  grid-row: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.guess-popout-inner-grid-container {
  height: inherit;
  display: inline-grid;
  grid-template-columns: 325px;
  grid-template-rows: 125px repeat(auto-fill, 156px);
  grid-row: 10px;
  grid-row-gap: 0px;
}

.guess-popout-grid-container-box {
  border-top: 2px solid #d9d9d9;
  /* border-radius:  */
}

.guess-popout-main-title {
  font-family: "Rubik";
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.5rem;
  font-weight: bolder;
  font-style: italic;
  letter-spacing: 1px;
  padding-left: 15px;
  padding-top: 5px;
  /* border: 2px solid blue; */
  justify-content: left;
  display: inline;
}
.guess-popout-exit-button {
  font-family: "Rubik";
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.5rem;
  font-weight: bolder;
  font-style: italic;
  letter-spacing: 1px;
  padding-left: 15px;
  padding-top: 5px;
  /* border: 2px solid red; */
  justify-content: right;
  display: inline-block;
  margin-left: 135px;
}

.guess-popout-exit-button:hover {
  /* color: red; */
  color: darkgrey;
  font-style: normal;
  cursor: pointer;
}

.guess-popout-guess-text-title {
  /* border: 2px solid red; */
  font-family: "Josefin Sans";
  font-size: normal;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  display: flex;
  align-items: start;
  justify-content: center;
}

.guess-popout-guess-text-body {
  font-family: "Josefin Sans";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 50px; /* ! This is silly... need to make this auto fit?? */
  font-size: small;
  padding: 5px;
  margin-left: 5px;
  overflow-x: hidden;
  color: rgba(0, 0, 0, 0.7);
  /* border: 1px solid red; */
}

.feedback-box {
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #d9d9d9; */
}

.feedback-box-label {
  /* font-family: "Rubik"; */
  font-family: "Josefin Sans";
  color: rgba(128, 128, 128, 0.6);
  /* font-style: italic; */
  font-size: small;
  margin-top: auto;
  margin-bottom: 3px;
}

.feedback-box-main-text {
  font-family: "Rubik";
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  font-size: 26px;
  /* font-weight: lighters; */
  animation: fadeIn 2s forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.feedback-box-response {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-right: 100px;
}

.hint-outer-container {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 150px;
  width: 90%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 470px;
}

.hint-text {
  font-family: "Josefin Sans";
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin: auto;
  font-size: large;
  overflow-y: hidden;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.7);
}

.guess-popout-outer-container {
  width: 325px;
  height: 750px;
  border: solid #d9d9d9 2px;
  /* border: solid 2px red; */
  border-radius: 15px;
  position: absolute;
  /* left: 66.667%; */

  left: 85%;
  right: 50%;
  margin-left: -250px;
  margin-right: -250px;
  margin-top: 20px;
  display: none;
  background-color: white;
}

.feedback-box-small {
  border: 2px solid #d9d9d9;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guess-popout-feedback-box-grid {
  width: 40px;
  height: 40px;
  /* border: solid red 2px; */
  position: absolute;
  display: grid;
  grid-template-columns: 20px 20px;
  grid-row: auto auto;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  /* right: 100%; */

  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -21px; /*  NOTE: Make sure this is working! Should be centered*/
  /* margin-top: 120px; */
}

.hidden {
  display: none;
}

.lives-container {
  /* border: 2px solid red; */
  width: 150px;
  height: 25px;
  display: flex;
  position: absolute;
  top: 75%; /* Calculate the position from the top */
  left: 50%;
  transform: translate(-50%, -50%);
}

.lives-bubble {
  width: 18px;
  height: 15px;
  margin: auto;
  border-radius: 50px;
  border: 2px solid #d9d9d9;
}
