html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 0px;
}

.title-header {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 10px;
  font-weight: normal;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(66, 64, 64);
}

.title-subheader {
  text-align: center;
  padding-top: 0;
  color: rgb(66, 64, 64);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 350px;
  padding-top: 25px;
}

/* .outer-container {
  border: solid lightgrey 1px;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
} */

.box-container {
  padding-top: 25px;
  display: flex;
}

.feedback-box-neg {
  width: 150px;
  height: 150px;
  background-color: rgba(204, 204, 204, 0.315);
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid lightgrey 1px;
}

.feedback-box-pos {
  width: 150px;
  height: 150px;
  background-color: rgba(156, 216, 126, 0.315);
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid lightgrey 1px;
}

.feedback-box-med {
  width: 150px;
  height: 150px;
  background-color: rgba(216, 213, 123, 0.315);
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid lightgrey 1px;
}

.guess-input {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
}

::placeholder {
  text-align: center;
}

/* .hint {
  padding-top: 35px;
  padding-bottom: 0px;
  width: 500px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  margin: 0 auto;
  margin-top: auto;
  font-weight: lighter;
} */

.hint {
  padding-top: 10px;
  padding-bottom: 0px;
  width: 500px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-weight: lighter;
}

.lives-container {
  padding-top: 20px;
  display: flex;
}

.lives {
  width: 8px;
  height: 8px;
  background-color: #ccc;
  border-radius: 50%; /* Makes it a circle */
  margin: 2px;
  /* border: solid lightgrey 1px; */
}

.good-lives {
  width: 8px;
  height: 8px;
  background-color: rgba(212, 85, 69, 0.315);
  border-radius: 50%; /* Makes it a circle */
  margin: 2px;
  /* border: solid lightgrey 1px; */
}

.pos-feedback {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  font-size: large;
}

.len-feedback {
  text-align: center;
  font-weight: lighter;
  font-size: small;
  font-size: large;
}

.complex-feedback {
  text-align: center;
  font-weight: lighter;
  font-size: large;
}

.sim-feedback {
  text-align: center;
  font-weight: lighter;
  font-size: large;
}

.feedback-title {
  text-align: center;
  margin-bottom: 2px; /* Adjust as needed */
  font-weight: lighter; /* Make the title bold */
  font-size: smaller;
}

footer {
  /* background-color: #333; */
  /* background-color: rgba(204, 204, 204, 0.315); */
  /* color: #fff; */
  color: rgb(66, 64, 64);
  text-align: center;
  justify-content: center;
  padding: 0;
  position: fixed;
  width: 100%;
  bottom: 20px;
  font-weight: lighter;
}

/* 
.date-footer {
  text-align: center;
  font-weight: bold;
  margin: 0px;
} */

.error {
  padding-top: 10px;
  padding-bottom: 0px;
  width: 500px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: lighter;
  color: red;
}
